<!-- views/partials/_header.ejs -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Raleway" rel="stylesheet">
<nav id="nav">
  <title>MySpot</title>
  <h1><i class="fas fa-map-pin"></i> MySpot </h1>
</nav>
<div id='hide'>
</div>
