<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
    <title>Maps | MySpot</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>List of Maps</h1>
    <p>Here are all the maps that exist on MySpot. So many maps. And anyone can view this page and click into the maps. SHARING IS CARING!</p>

    <ul>
    <% for (var map in mapData) { %>
            <li><%= map %></li>
         <% } %>

</ul>

  </body>
</html>
