<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
    <title>Create Map | MySpot</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Create a Map</h1>
    <p>This is only visible to authenticated users</p>
    <p>Here is a form to create a new map. This will then direct you to /maps/id</p>

  </body>
</html>
