<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
    <title>Create Map | MySpot</title>
  </head>
  <body>
    <h1>Create a Map</h1>
    <p>Name your map and select the location you would like to create a map of</p>

     <div id="floating-panel">
      <input id="mapName" type="textbox" name="mapName" value="My Map">
      <input id="address" type="textbox" value="Montreal, QC">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>

    <script>

    function storeMap(latlong, mapName){
      let lat = latlong.lat();
      let lng = latlong.lng();

      let newMapObj = {
        lat: lat,
        lng: lng,
        newMapName: mapName
        };

      $.ajax({
        type: "POST",
        url: '/maps',
        data: newMapObj
        })
        .done(function(response) {
          window.location.replace("/maps/"+response.id);
        })
        .fail(function(error) {
          alert( "new map submit error" );
        })
      }


    function initMap() {
      var map;

      //initiate overall map
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 45.4859178,lng: -73.5819195},
        zoom: 16
      });

      //user is able to enter address to create new marker
      var geocoder = new google.maps.Geocoder();
      document.getElementById('submit').addEventListener('click', function() {
        geocodeAddress(geocoder, map, document.getElementById('mapName').value);
      });

      //if address exists, add marker to map
      function geocodeAddress(geocoder, resultsMap, mapName) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            storeMap(results[0].geometry.location, mapName);
            resultsMap.setCenter(results[0].geometry.location);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    };
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxv_lcD-DJGOKruhMUYLFKU_LPzP1z8bQ&callback=initMap&libraries=places"></script>
  </body>
</html>
