<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
    <title>User Info | MySpot</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>User Specific Details</h1>
    <h3>Map List</h3>
      <p>Here is a list of all the maps I have contributed to.</p>
    <h3>Favorite Maps</h3>
      <p>Here is a list of all the maps I have marked as favorite.</p>
  </body>
</html>
