#nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #3A445D;
  padding: 0 2em;
}

#nav h1{
  color: white;
}

.hideme {
  text-decoration: none;
  color: inherit;
}
 #favorites {
   display: flex;
   flex-direction: row;
   margin-top: 1em;
   padding: .5em;
   float:right;
   font-size: 60px;
   color: #3A445D;
 }

 #notfav div{
   // font-size: 60px;
   // color: #3A445D;
 }

 #fav div{
   // font-size: 60px;
   // color: #3A445D;
   display: none;
 }


#hide {
  padding-top: 80px;
}

@media (max-width: 450px){
  #wrapper {

  }
}

#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  align-items: center;
  // border-radius: 15px;
  // border-style: solid;
  // border-color: #5E5768;
  margin: .5em;
  padding: 1em;
}
#right {
  // flex: 1;
  align-items: center;
  // border-radius: 15px;
  // border-style: solid;
  // border-color: #5E5768;
  margin: .5em;
  padding: 1em;
}

html, body {
 background-color: #EEE;
 height: 100%;
 margin: 0;
 padding: 0 1em;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Raleway', sans-serif;
}

h1, h2 {
  color: #5E5768;
}

#floating-panel {
  padding: .5em;
}

#address {
  border-radius: 3px;
}

#submit {
  border-radius: 3px;
}

#map {
  border-radius: 10px;
  height: 50%;
  width: 85%;
}

@media (max-width: 850px){
  #map {
    border-radius: 10px;
    height: 50%;
    width: 100%;
  }
}
